.section-head {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $font-grey;

  &__line {
    width: 170px;
    border-top: 2px $font-grey solid;
    margin: 15px 0 20px;
  }

  &__description {
    text-align: center;
  }

  &_white {
    color: $color-lightest;

    .section-head__title {
      color: $color-lightest;
    }

    .section-head__line {
      border-color: white;
    }
  }
}

@include media-max(1024px) {
  .section-head {
    width: 80%;

  }
}