$orange:#ff7200;
$font-grey:#666666;
$grey-darkest:#343434;
$grey-lightest: #f7f7f7;
$grey-light: #f0f0f0;
$grey-middle:#acabab;
$footer-top-background:#303030;
$footer-low-background:#202020;
$color-lightest: #ffffff;
$border-white: 2px solid $color-lightest;