.dropup-menu {
	position: absolute;
	background-color: $grey-darkest;
	width: max-content;
	visibility: hidden;
	top: 0;
	left: 99%;
	border-radius: 3px;

	&:before {
		content: '';
		width: 6px;
		height: 6px;
		border: $border-white;
		border-left: 0;
		border-bottom: 0;
		position: absolute;
		transform: rotate(45deg);
		top: 15%;
		left: -10%;
	}

	&__item {
		padding: 10px 80px 10px 40px;
		color: $color-lightest;
		transition: .3;
		position: relative;

		&:hover {
			transition: .3;
			background-color: $font-grey;

			.dropup-menu {
				visibility: visible;
				transition: .3;
			}
		}
	}

	&__link {
		color: $color-lightest;
		position: relative;

		&:before {
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $color-lightest;
			position: absolute;
			top: 48%;
			left: -10%;
		}

		&:hover {
			color: inherit;
		}
	}
}